<a href="{{ site.baseurl_posts_img }}{{ include.path-1 }}" class="fluidbox-trigger">
    <img class="img--fullContainer" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-1 }}" alt="{{ include.alt-1 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-2 }}" class="fluidbox-trigger">
    <img class="img--halfContainerLeft" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-2 }}" alt="{{ include.alt-2 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-3 }}" class="fluidbox-trigger">
    <img class="img--halfContainerRight" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-3 }}" alt="{{ include.alt-3 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-4 }}" class="fluidbox-trigger">
    <img class="img--halfContainerLeft" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-4 }}" alt="{{ include.alt-4 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-5 }}" class="fluidbox-trigger">
    <img class="img--halfContainerRight" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-5 }}" alt="{{ include.alt-5 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-6 }}" class="fluidbox-trigger">
    <img class="img--halfContainerLeft" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-6 }}" alt="{{ include.alt-6 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-7 }}" class="fluidbox-trigger">
    <img class="img--halfContainerRight" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-7 }}" alt="{{ include.alt-7 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-8 }}" class="fluidbox-trigger">
    <img class="img--halfContainerLeft" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-8 }}" alt="{{ include.alt-8 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-9 }}" class="fluidbox-trigger">
    <img class="img--halfContainerRight" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-9 }}" alt="{{ include.alt-9 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-10 }}" class="fluidbox-trigger">
    <img class="img--halfContainerLeft" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-10 }}" alt="{{ include.alt-10 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-11 }}" class="fluidbox-trigger">
    <img class="img--halfContainerRight" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-11 }}" alt="{{ include.alt-11 }}" />
</a>
<div style="clear:both"></div>
