<a href="{{ site.baseurl_posts_img }}{{ include.path-1 }}" class="fluidbox-trigger">
    <img class="img--fullContainer" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-1 }}" alt="{{ include.alt-1 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-2 }}" class="fluidbox-trigger">
    <img class="img--halfContainerLeft" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-2 }}" alt="{{ include.alt-2 }}" />
</a>
<a href="{{ site.baseurl_posts_img }}{{ include.path-3 }}" class="fluidbox-trigger">
    <img class="img--halfContainerRight" src="{{ site.baseurl_posts_img_thumbnail }}{{ include.path-3 }}" alt="{{ include.alt-3 }}" />
</a>
<div style="clear:both"></div>
