//
// Global
// --------------------------------------------------
body,
html {
    overflow-x: hidden;
    @media (max-width: $screen-xs-max) {
        padding-right: 0;
    }
}
.language {
    margin-top: 0;
    font-family: $title-secondary-font;
    font-size: $font-XS;
    margin-top: 30px;
    margin-left: 3%;
    padding: 12px;
    border-radius: 99px;
    background-color: $white;
    z-index: $zIndex-5--sidebar-toggle-wrapper;
}
.brandLogo {
    background-image: url("../images/logo-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0;
    text-indent: -100em;
    overflow: hidden;
}
.brandLogo--small {
    width: 44px;
    height: 44px;
}
.brandLogo--black {
    background-image: url("../images/logo-noun-black.svg");
}
.logo {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0;
    text-indent: -100em;
    overflow: hidden;
}
.logo--sidebar {
    width: 100%;
    height: 60px;
    background-size: contain;
    background-position: center;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}
.logo--frontpage {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $zIndex-5--textlogo-frontpage;
    margin: 0;
    width: 380px;
    height: auto;
    background-size: 100%;
    background-position: 0;
    opacity: 1.0;
    @media (max-width: $screen-xs-max) {
        width: auto;
        height: 60px;
        top: 80px;
    }
}
