//
// Global
// --------------------------------------------------

html,
body {
  overflow-x: hidden;

  @media (max-width: $screen-xs-max) {
    padding-right: 0;
  }
}

.language {
  margin-top: 0;
  font-family: $title-secondary-font;
  font-size: $font-XS;
  margin-top: 30px;
  margin-left: 3%;
  padding: 12px;
  border-radius: 99px;
  background-color: $white;
  z-index: $zIndex-5--sidebar-toggle-wrapper;
}

.brandLogo {
    background-image: url("../images/logo-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0;
    text-indent: -100em;
    overflow: hidden;
}
.brandLogo--small {
    width: 44px;
    height: 44px;
}
.brandLogo--black {
    background-image: url("../images/logo-reisende-black.svg");
}
.textLogo {
    display: block;
    background-image: url("../images/logo-reisende-black.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 0;
    text-indent: -100em;
    overflow: hidden;
}
.textLogo--white {
    background-image: url("../images/logo-reisende-white.svg");
    color: #fff;
}
.textLogo--sidebar {
    font-size: 26px;
    @media (max-width: $screen-xs-max) {
        font-size: 18px;
    }
}
.textLogo--frontpage {
    position: absolute;
    top: 132px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $zIndex-5--textlogo-frontpage;
    margin: 0;
    width: 500px;
    height: 50px;
    background-size: 100%;
    background-position: 0;
    opacity: 0.9;
    font-size: 56px;
    @media (max-width: $screen-xs-max) {
        width: 300px;
        height: 33px;
        top: 99px;
        font-size: 40px;
    }
}
